.card {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.margin {
    margin:10px;
}

.img {
    width: 100px;
    height: 100px;
}